# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Us Form</h1>
    <div>
    <div class="name-div">
      <label for="name">Name:</label>
    </div>

    <div>
      <input
        type="text"
        name="name"
        id="name"
        class="name input"
        placeholder="Enter your name"
      />
    </div>ٖ
    <br>
    <div>
        <div class="phone-div">
            <label for="phone no">Phone no:</label>
            </div>
            <input type="phone no"
             name="phone no"
            id="phone no"
            class="Phone no"
            placeholder="Enter your number"
     />
    </div>
    <br>
    <div>
        <div class="email">
            <label for="Email">Email:</label>
            </div>
            <input type="email"
            name="Email"
            id="email"
            placeholder="Enter your mail"

        />
    </div>
   <br>
   <div class="span">
    <span>Choose Gender:</span><br>
    <input type="radio" id="male" name="gender" value="Male">
    <Label>Male</Label>
    <input type="radio" id="male" name="gender" value="Female">
    <Label>Female</Label>  
</div><br>
   <div class="span">
<span>Your Feedback:</span><br>
   </div>
<div>
    <div class="text">
        <textarea name="text" id="text" rows="10" cols="50"  placeholder="Enter your Feedback"> 
        </textarea>
    </div>
</div><br>
<button type="submit" class="button">Submit</button>

    
</body>
</html>